<h1>Testfile#home</h1>

<p>oh yeah!</p>




<a href="http://google.com">google </a>

<%= form_for @post, url: post_path(id: @post.id), method: :put do |f| %>
<div>
  <%=f.label :title%>
<%= f.text_field :title %>
</div>

<div>
  <%=f.label :author%>
<%= f.text_field :author %>
</div>

<div>
  <%=f.label :content%>
<%= f.text_area :content %>
</div>

<div>

<%= f.submit "Create" %>
</div>


<div>
<%= f.submit "Destroy" %>

</div>
<% end %>
