<table class="table">

  <thead>
    <th>Title</th>
    <th> Author </th>
  </thead>
<div class="container">
  <tbody>
    <% @post.each do |post| %>
    <tr>
      <td>
        <%= post.title %>
      </td>

      <td>

        <%= post.author %>
      </td>

      <td>
        <%= link_to 'View', post_path(id: post.id) %>
      </td>

      <td>
        <%= link_to 'Delete', post_path(id: post.id), method: :delete %>
      </td>
    </tr>

    <%end%>

  </body>
</div>


  </table>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
  <script src="../../dist/js/bootstrap.min.js"></script>
  <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
  <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>





<%= link_to 'Create New Post', new_post_path %>
